<main class="register__container">
  <section class="blob__effect">
    <article class="card__register">
      <div class="content__card">
        <div class="card__title">
          <h2>Crear Cuenta</h2>
        </div>

        <form
          class="form__container"
          [formGroup]="registerForm"
          (ngSubmit)="register()"
        >
          <div class="inputs__container">
            <div class="card__input">
              <label class="required" for="name">Nombre</label>
              <input
                id="name"
                type="text"
                placeholder="Nombre"
                formControlName="name"
              />
              <span
                class="required__field"
                *ngIf="
                  registerForm.get('name')?.hasError('required') &&
                  registerForm.get('name')?.touched
                "
              >
                Campo requerido
              </span>
            </div>

            <div class="card__input">
              <label class="required" for="lastName">Apellido</label>
              <input
                id="lastName"
                type="text"
                placeholder="Apellido"
                formControlName="lastName"
              />

              <span
                class="required__field"
                *ngIf="
                  registerForm.get('lastName')?.hasError('required') &&
                  registerForm.get('lastName')?.touched
                "
              >
                Campo requerido
              </span>
            </div>

            <div class="card__input">
              <label class="required" for="email">Email</label>
              <input
                id="email"
                type="email"
                placeholder="Email"
                formControlName="email"
              />

              <ng-container
                *ngIf="
                  registerForm.get('email')?.hasError('pattern') &&
                    registerForm.get('email')?.touched;
                  else emailField
                "
              ></ng-container>
            </div>

            <div class="card__input">
              <label class="required" for="username">Nombre de Usuario</label>
              <input
                id="username"
                type="text"
                placeholder="Nombre de Usuario"
                formControlName="username"
              />

              <span
                class="required__field"
                *ngIf="
                  registerForm.get('username')?.hasError('required') &&
                  registerForm.get('username')?.touched
                "
              >
                Campo requerido
              </span>

              <span
                class="required__field"
                *ngIf="
                  registerForm.get('username')?.hasError('maxlength') &&
                  registerForm.get('username')?.touched
                "
              >
                El nombre de usuario debe tener máximo 14 carácteres
              </span>
            </div>

            <div class="card__input">
              <label class="required" for="password">Contraseña</label>
              <div class="password__container">
                <input
                  formControlName="password"
                  id="password"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Contraseña"
                  required
                />
                <span
                  class="show__password"
                  (click)="changeVisibilityPassword()"
                >
                  <i
                    class="pi"
                    [ngClass]="showPassword ? 'pi-eye' : 'pi-eye-slash'"
                  ></i>
                </span>
              </div>

              <ng-container
                *ngIf="
                  registerForm.get('password')?.hasError('pattern') &&
                    registerForm.get('password')?.touched;
                  else passwordField
                "
              ></ng-container>
            </div>

            <div class="card__input">
              <label class="required" for="repeatPassword"
                >Vuelva a ingregar su contraseña</label
              >
              <input
                id="repeatPassword"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Vuelva a ingregar su contraseña"
                formControlName="confirmPassword"
              />

              <ng-container
                *ngIf="
                  registerForm.get('password')?.hasError('pattern') &&
                    registerForm.get('password')?.touched;
                  else passwordField
                "
              ></ng-container>
            </div>
          </div>

          <div class="button__container">
            <button class="button custom__button--fill" type="submit">
              Ingresar
            </button>
            <span class="button__secondary" [routerLink]="['/auth/login']"
              >¿Ya tienes una cuenta? <span>Inicia Sesión</span></span
            >

            <span class="button__secondary" [routerLink]="['/']"
              >Volver al Inicio</span
            >
          </div>
        </form>
      </div>
    </article>
  </section>
  <img
    class="blob"
    src="../../../../assets/images/background_optimized.jpg"
    alt="effect"
    loading="lazy"
  />
</main>

<app-message />

<ng-template #emailField>
  <span
    *ngIf="
      registerForm.get('email')?.hasError('required') &&
      registerForm.get('email')?.touched
    "
    class="required__field"
  >
    Este campo es requerido
  </span>

  <span
    *ngIf="registerForm.get('email')?.hasError('pattern')"
    class="required__field"
  >
    No es un email válido
  </span>
</ng-template>

<ng-template #passwordField>
  <span
    *ngIf="
      registerForm.get('password')?.hasError('required') &&
      registerForm.get('password')?.touched
    "
    class="required__field"
  >
    Este campo es requerido
  </span>

  <span
    *ngIf="registerForm.get('password')?.hasError('minlength')"
    class="required__field"
  >
    La contraseña debe tener al menos 6 caracteres.
  </span>

  <span *ngIf="registerForm.hasError('different')" class="required__field">
    Las contraseñas deben coincidir.
  </span>
</ng-template>
