@import "src/styles.scss";

.data__container {
  width: 100%;
  max-width: 800px;
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form__container--top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .form__control {
        width: 100%;
        max-width: none;
        // padding: 0 0.9rem;
      }

      .form__container--bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;

        .form__control {
          width: 100%;
          max-width: 348px;
          display: flex;
          flex-direction: column;
          // padding: 0;

          input {
            width: 100%;
          }
        }
      }
    }

    .button__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.disabled {
  opacity: 0.5;
}

input {
  width: 100%;
  // max-width: 184px;
  padding: 1rem;
  height: 1.8rem;
  border-radius: $border-radius-x1;
  border: 1px solid $color-grey;
  // background-color: $color-disabled;
  backdrop-filter: $auth-backdrop;
  -webkit-backdrop-filter: $auth-backdrop;
  background-color: $auth-color;
}
