<div
  class="recipe__container"
  [routerLink]="['/recipe/' + recipe.attributes.slug]"
>
  <div class="image__container">
    <img [ngSrc]="image()" [alt]="recipe.attributes.name" fill />
  </div>
  <div class="text__card">
    <div class="text__container">
      <div class="info__recipe">
        <span>{{ category() | titlecase }}</span>
        <span>{{ recipe.attributes.difficulty | difficulty }}</span>
      </div>
      <h3>{{ recipe.attributes.name | titlecase }}</h3>
    </div>

    <button class="button custom__button--line">Ver Receta</button>
  </div>
</div>
