@import "src/styles.scss";

.product__container {
  width: 95%;
  max-width: $max-width;
  margin: 0 auto;

  .form__filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    select {
      margin: 2rem 3.2rem 2rem 0;
      // width: 90px;
      height: 45px;
      border-radius: $border-radius-x1;
      font-size: 1rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .cards__cotainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.message__container {
  width: 95%;
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}
