@import "src/styles.scss";

.password__cotaniner {
  width: 95%;
  max-width: $max-width;
  // height: calc(100vh - 600px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .form__conteiner {
    width: 100%;
    max-width: 500px;
    background-color: $color-white;
    padding: 1rem;
    border-radius: $border-radius-x1;
    color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .form__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form__control {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .password__container {
          width: 100%;
          position: relative;
          input {
            width: 100%;
          }
        }
      }

      .button__container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        .button {
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}

input {
  width: 100%;
  padding: 1rem;
  height: 40px;
  border-radius: $border-radius-x1;
  border: 1px solid $color-grey;
  background-color: $auth-color;
}
