<section class="password__cotaniner">
  <article class="form__conteiner">
    <h2 class="form__title">Cambiar contraseña</h2>

    <form
      class="form__content"
      [formGroup]="changePasswordForm"
      (ngSubmit)="updatePassword()"
    >
      <div class="form__control">
        <label class="required" for="currentPassword">Contraseña actual:</label>

        <div class="password__container">
          <input
            formControlName="currentPassword"
            id="currentPassword"
            [type]="showPassword ? 'text' : 'password'"
            required
          />
          <span class="show__password" (click)="changeVisibilityPassword()">
            <i
              class="pi"
              [ngClass]="showPassword ? 'pi-eye' : 'pi-eye-slash'"
            ></i>
          </span>
        </div>
      </div>

      <div class="form__control">
        <label class="required" for="newPassword">Nueva contraseña:</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="newPassword"
          formControlName="password"
        />

        <span
          *ngIf="changePasswordForm.hasError('different')"
          class="required__field"
        >
          Las contraseñas deben coincidir.
        </span>
      </div>

      <div class="form__control">
        <label class="required" for="confirmPassword"
          >Confirmar contraseña:</label
        >
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="passwordConfirmation"
        />

        <span
          *ngIf="changePasswordForm.hasError('different')"
          class="required__field"
        >
          Las contraseñas deben coincidir.
        </span>
      </div>

      <div class="button__container">
        <button class="button custom__button--black" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </article>
</section>
