<section class="password__cotaniner">
  <article class="form__conteiner">
    <h2 class="form__title">Cambiar contraseña</h2>

    <form
      class="form__content"
      [formGroup]="changePasswordForm"
      (ngSubmit)="updatePassword()"
    >
      <div class="form__control">
        <label for="currentPassword">Contraseña actual:</label>
        <input
          type="password"
          id="currentPassword"
          formControlName="currentPassword"
        />
      </div>

      <div class="form__control">
        <label for="newPassword">Nueva contraseña:</label>
        <input type="password" id="newPassword" formControlName="password" />
      </div>

      <div class="form__control">
        <label for="confirmPassword">Confirmar contraseña:</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="passwordConfirmation"
        />
      </div>

      <div class="button__container">
        <button class="button custom__button--black" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </article>
</section>
