<section class="user__container" *ngIf="userData">
  <h1>Mi Cuenta</h1>
  <div class="user__content">
    <article class="user__detail">
      <div class="user__image">
        <img [src]="image()" [alt]="userData.name" fill />

        <form class="upload__container">
          <label class="upload__file" for="upload">Actualizar imagen</label>
          <input
            id="upload"
            type="file"
            (change)="uploadImage($event)"
            name="file"
            style="display: none"
            accept="image/*"
          />
        </form>
      </div>
    </article>

    <article class="user__info">
      <app-personal-data-card [userData]="userData" />

      <app-number-phone-card
        [phoneData]="phones()"
        [userData]="userData"
        (updateData)="getUserData($event)"
      />

      <app-personal-address-card
        [addresses]="addresses()"
        [userData]="userData"
        (updateData)="getUserData($event)"
      />
    </article>
  </div>
</section>

<p-dialog
  [(visible)]="showLoader"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [closable]="false"
>
  <app-loader />
</p-dialog>
