<section class="phone__container">
  <form class="form__container" [formGroup]="numberPhoneForm">
    <ng-container *ngIf="updateNumber">
      <article class="select__container">
        <h2 class="form__title required">Elije el número de teléfono:</h2>
        <select formControlName="filter" (change)="selectValue()">
          <option value="" hidden selected>Número</option>
          <option *ngFor="let phone of numberPhone; let i = index" [value]="i">
            {{ phone.name | titlecase }}
          </option>
        </select>
      </article>
    </ng-container>

    <article class="form__content">
      <div class="form__control">
        <label class="required" for="name">Nombre</label>
        <input
          type="text"
          id="name"
          placeholder="Código de área"
          formControlName="name"
        />
      </div>
      <div class="control__container">
        <div class="form__control">
          <label class="required" for="area_code">Código de área</label>
          <input
            type="text"
            id="area_code"
            placeholder="Código de área"
            formControlName="area_code"
          />
        </div>
        <div class="form__control">
          <label class="required" for="number_phone">Número de teléfono</label>
          <input
            type="text"
            id="number_phone"
            placeholder="Número de teléfono"
            formControlName="number_phone"
          />
        </div>
      </div>
    </article>

    <article class="primary__container">
      <!-- <label for="primary">Número por defecto:</label>
      <input id="primary" type="checkbox" formControlName="primary" /> -->
    </article>

    <ng-container *ngIf="updateNumber; else buttonContainer">
      <article class="button__container">
        <button class="button custom__button--black" (click)="deleteNumber()">
          <i class="pi pi-trash"></i>
          Eliminar
        </button>

        <button
          (click)="sendData()"
          type="submit"
          class="button custom__button--black"
        >
          Guardar
        </button>
      </article>
    </ng-container>
  </form>
</section>

<ng-template #buttonContainer>
  <article class="button__container--add">
    <button
      (click)="addNumberPhone()"
      type="submit"
      class="button custom__button--black"
    >
      Guardar
    </button>
  </article>
</ng-template>
