<header class="header__container">
  <div class="header__content">
    <div class="header__logo">
      <img
        src="../../../../assets/images/logo.png"
        alt="logo"
        [routerLink]="['/']"
      />
    </div>
  </div>
</header>
<nav class="header__nav">
  <ul class="nav__list">
    <li class="nav__item">
      <button
        class="button custom__button--fill products__button"
        [routerLink]="['/products/']"
        (mouseenter)="filter.show($event)"
        (mouseenter)="user.hide()"
        (mouseenter)="cart.hide()"
        (click)="filter.hide()"
      >
        Productos
      </button>
    </li>
    <li class="nav__item input__container">
      <form [formGroup]="searchForm" (ngSubmit)="SearchFormProducts()">
        <input type="text" placeholder="Buscar..." formControlName="product" />
      </form>
    </li>
    <li class="nav__item">
      <div class="button__container">
        <button
          class="button custom__button--fill"
          (click)="user.toggle($event)"
        >
          <i class="pi pi-user"></i>
        </button>
        <button
          class="button custom__button--fill"
          (click)="cart.toggle($event)"
        >
          <i class="pi pi-shopping-bag"></i>
          <span
            class="badge__cart"
            *ngIf="totalProductToCart() > 0"
            [ngStyle]="
              isLogued
                ? { backgroundColor: '#4af6d7' }
                : { backgroundColor: '#EAEAEA' }
            "
          >
            {{ totalProductToCart() }}
          </span>
        </button>
      </div>
    </li>
  </ul>
</nav>

<p-overlayPanel #filter>
  <ng-template pTemplate="content">
    <p-tree
      [value]="files"
      class="w-full md:w-30rem"
      selectionMode="single"
      [(selection)]="selectedFile"
      (onNodeExpand)="nodeExpand($event)"
      (onNodeCollapse)="nodeCollapse($event)"
      (onNodeSelect)="nodeSelect($event)"
      (onNodeUnselect)="nodeUnselect($event)"
      [style]="{ border: 'none' }"
    ></p-tree>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #cart>
  <ng-template pTemplate="content">
    <app-cart />
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #user>
  <ng-template pTemplate="content"> </ng-template>
</p-overlayPanel>
