<div
  class="card__container"
  *ngIf="product"
  (mouseenter)="startFlash()"
  (mouseleave)="stopFlash()"
>
  <div
    class="flash"
    [ngClass]="{ 'flash-effect': isFlashing }"
    [ngStyle]="getDynamicStyles()"
  ></div>
  <div class="image__container">
    <img
      [ngSrc]="image()"
      [alt]="product.attributes.name"
      [routerLink]="['/product/' + product.attributes.slug]"
      fill
    />

    <i
      *ngIf="isLogued"
      class="pi"
      [ngClass]="{
        'pi-heart': !viewIsFavorite(),
        'pi-heart-fill': viewIsFavorite()
      }"
      (click)="isFavorite(product)"
    ></i>
  </div>

  <div class="info__container">
    <div class="text__container">
      <h3 [routerLink]="['/product/' + product.attributes.slug]">
        {{ brand() + " - " + product.attributes.name | titlecase }}
      </h3>
      <p>{{ category() }}</p>
    </div>

    <div class="info__product">
      <div class="price__container">
        <p>
          {{ product.attributes.price | currency : "ARS" : "symbol-narrow" }}
        </p>
      </div>

      <div class="detail__product">
        <span class="weight">{{ product.attributes.weight }}</span>
        <span class="chip">{{ product.attributes.stock | stock }}</span>
      </div>
    </div>

    <div class="button__container">
      <button class="button custom__button--line" (click)="addToCart(product)">
        Añadir al carrito
      </button>
    </div>
  </div>
</div>
