<section class="gift__container">
  <article class="gift__text">
    <h2 class="gift__title">¡Dilo con una botella!</h2>
    <p class="gift__description">
      Lo que quieras decir, ¡grábalo en su botella favorita de whisky! Una
      botella personalizada de Johnnie Walker, Singleton, Talisker y más,
      entregada en su puerta: el regalo perfecto para dejar una impresión
      duradera y guardarse para siempre.
    </p>
    <button class="button custom__button--line gift__button">
      Ver Productos
    </button>
  </article>
  <article class="gift__image">
    <img src="../../../assets/images/gift-image.png" alt="green label" />
  </article>
</section>
